div.advertisement {
    border: 0pt none;
    margin: auto;
    text-align: center;
    color: #999;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: .2em;
    line-height: 1;
    margin-top: 0px;
    position: relative;
    top: -4px;
}